/* Universal Styling (can be easily overwriten) */

html {
  font-size: 16px;
}
p {
  font-size: 1rem;
  /*line-height: 2rem;*/
}
header {
  background-color: black;
}
hr.white_fancy {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
hr.black_fancy {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(150, 150, 150, 0), rgba(150, 150, 150, 0.75), rgba(150, 150, 150, 0.9), rgba(150, 150, 150, 0.75), rgba(150, 150, 150, 0));
}

/* Add more styling for entire tags*/

i.material-icons {
  display: inline;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
.sidenav-trigger {
  color: #26a69a;
}

/* Bio section */

#mainname {
  margin-bottom: 0rem;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
