/* Universal Styling (can be easily overwriten) */

html {
  font-size: 16px;
}
p {
  font-size: 1rem;
  line-height: 1.4rem;
}
header {
  background-color: black;
}

/* Add more styling for entire tags*/

nav ul a,
nav .brand-logo {
  color: #444;
}
.sidenav-trigger {
  color: #26a69a;
}

/* Bio section */

#mainname {
  margin-bottom: 0rem;
}
#profilepic {
  height: auto;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #bio .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #bio .section {
    top: 0;
  }
}
footer.page-footer {
  margin: 0;
}

/* Animations */

.fadein {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
.fadeout {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
